.add-plan {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #D4D9EB;
  border: solid 1px black;
  border-radius: 20px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-top: -1px;
}
.add-plan__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.add-plan__title {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  color: #1D2E5B;
}
.add-plan__toggles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 48px;
}
.add-plan__toggle-button {
  width: 5px;
  height: auto;
  background-color: #1D2E5B;
  border-radius: 50%;
  border: none;
}
.add-plan__item {
  width: 270px;
  min-height: 796px;
  background-color: #FFFFFF;
  border-radius: 10px;
}
.add-plan__counter {
  display: flex;
  justify-content: center;
}
.add-plan__input-wrapper {
  display: flex;
  justify-content: center;
}
.add-plan__calendar-days {
  width: 224px;
  min-height: 224px;
  margin: 0 auto;
  border: 1px solid black;
  border-collapse: collapse;
}
.add-plan__week-day {
  width: 32px;
  height: 32px;
  text-align: center;
  border: 1px solid black;
  border-collapse: collapse;
}
.add-plan__week-date {
  width: 32px;
  height: 32px;
  text-align: center;
  border: 1px solid black;
  border-collapse: collapse;
}
.add-plan__button-next {
  width: 229px;
  height: 40px;
  background-color: #FFD74B;
  border-radius: 20px;
  border: none;
  margin-top: 5px;
  margin-left: 21px;
}
