.container {
  width: 100%;
  min-width: 318px;
  max-width: 318px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}
@media (min-width: 768px) {
  .container {
    width: 100%;
    min-width: 766px;
    max-width: 766px;
  }
}
@media (min-width: 1440px) {
  .container {
    width: 100%;
    min-width: 1438px;
    max-width: 1438px;
  }
}
