.container {
  width: 100%;
  max-width: 318px;
  height: auto;
  margin: 0 auto;
  padding: 0;
}
@media (min-width: 768px) {
  .container {
    width: 100%;
    max-width: 766px;
    height: auto;
    margin: 0 auto;
    padding: 0;
  }
}
@media (min-width: 1440px) {
  .container {
    width: 100%;
    max-width: 1438px;
    height: auto;
    margin: 0 auto;
    padding: 0;
  }
}
