.filter-toggle {
  display: inline-flex;
  justify-content: space-around;
  position: relative;
  z-index: -1;
  margin-top: -20px;
  min-height: 69px;
  min-width: 319px;
  background-color: #E2E5F2;
  border: solid 1px transparent;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
.filter-toggle__title {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #192144;
  padding-top: 15px;
}
.filter-toggle__button {
  width: 19px;
  height: 5px;
  background-image: url(../img/filter-toggle-expand.svg);
  background-repeat: no-repeat;
  border: none;
  align-self: center;
}
.filter-toggle__icon {
  width: 15px;
  height: 10px;
  background-image: url(../img/filter-toggle-icon.svg);
  background-repeat: no-repeat;
  align-self: center;
}
