@import "../utils/utils.less";

.form-header {
  min-width: 100%;
  width: 100%;
  background-color: #182044;

  @media (min-width: @tablet-width) {
    background-color: #182044;
  }

  @media (min-width: @desktop-width) {
    background-color: #182044;
  }
}

.form-header__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  min-width: 318px;
  width: 318px;
  min-height: 143px;
  background-color: #182044;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin: 0px auto 0px auto;
  padding: 0px;
  position: relative;
  z-index: 10;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    min-width: 766px;
    width: 766px;
    min-height: 351px;
    margin: 0px auto 0px auto;
    border-bottom-left-radius: 58px;
    border-bottom-right-radius: 58px;
    position: relative;
    z-index: 10;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    min-width: 1438px;
    width: 1438px;
    padding: 0px 0px 0px 0px;
    margin: 0px auto 0px auto;
    position: relative;
    z-index: 9;
  }
}

.form-header__logo-link {
  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-row-start: 1;
    margin-top: 27px;
    margin-bottom: 0px;
    margin-left: 40px;
    margin-right: 0px;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    padding: 0px 0px 0px 0px;
    margin: 28px 0px 0px 60px;
  }
}

.form-header__logo {
  grid-column-start: 1;
  grid-row-start: 1;
  width: 104px;
  height: 15px;
  margin-top: 0px;
  margin-left: 22px;

  @media (min-width: @tablet-width) {
    display: block;
    width: 166px;
    height: 42px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }

  @media (min-width: @desktop-width) {
    display: block;
    width: 200px;
    height: 52px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
}

.form-header__button {
  grid-column-start: 2;
  grid-row-start: 1;
  width: 30px;
  height: 20px;
  background-color: transparent;
  background-image: url(../img/icon-menu-mobile.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  margin-top: 23px;
  margin-left: 30px;

  @media (min-width: @tablet-width) {
    grid-column-start: 2;
    grid-row-start: 1;
    margin-top: 61px;
    margin-bottom: 0px;
    margin-left: -12px;
    margin-right: 0px;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.form-header__btn-container {
  display: none;

  @media (min-width: @tablet-width) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 290px;
    height: 52px;
    margin: 48px 0px 0px 131px;
  }
}

.form-header__btn-call {
    display: none;

    @media (min-width: @tablet-width) {
      display: none;
    }

    @media (min-width: @desktop-width) {
      display: block;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: #FF8D30;
    }
}

.form-header__btn-call:hover {
  background-color: #F26926;
}

.form-header__btn-call:active {
  background-color: #F26926;
  fill-opacity: 0.3;
}

.form-header__btn-email {
  display: none;

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #FFBD30;
  }
}

.form-header__btn-email:hover {
  background-color: #FF8D30;
}

.form-header__btn-email:active {
  background-color: #FF8D30;
  fill-opacity: 0.3;
}

.form-header__btn-authorization {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    width: 188px;
    height: 50px;
    background-color: #FFD74B;
    border-radius: 25px;
    border: none;
    font-family: "Blogger Sans", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 49px;
    text-align: center;
    text-transform: uppercase;
    color: #161C35;
    margin-top: 40px;
    margin-bottom: 0px;
    margin-left: 156px;
    margin-right: 0px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }
}

.form-header__btn-authorization:hover {
  background-color: #FFBD30;
}

.form-header__btn-authorization:active {
  background-color: #FFBD30;
  color: rgba(0, 0, 0, 0.3);
}

.form-header__main-page-link {
  display: none;

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.form-header__title {
  grid-column-start: 1;
  grid-row-start: 2;
  display: inline-block;
  font-family: "Blogger Sans", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 4px;
  margin: -35px 0px 0px 25px;
  padding: 0px 0px 0px 0px;
  color: #FFFFFF;

  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    display: block;
    font-family: "Blogger Sans", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 20px;
    color: #FFFFFF;
    margin-top: 65px;
    margin-bottom: 0px;
    margin-left: 75px;
    margin-right: 0px;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    margin: 123px 0px 0px 124px;
    padding: 0px 0px 0px 0px;
  }
}

.form-header__title-underline {
  position: absolute;
    width: 212px;
    height: 5px;
    background-color: #FF8D30;
    border-radius: 4px;
    transform: translate(12%, 2800%);

    @media (min-width: @tablet-width) {
      width: 351px;
      height: 7px;
      margin-top: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
      margin-right: 0px;
      border-radius: 4px;
      transform: translate(22%, 4983%);
    }

    @media (min-width: @desktop-width) {
      width: 359px;
      height: 7px;
      margin-top: -1px;
      margin-bottom: 0px;
      margin-left: 0px;
      margin-right: 0px;
      border-radius: 4px;
      transform: translate(35%, 4983%);
    }
}

.form-header__nav {
  display: none;

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 500px;
    height: 25px;
    padding: 0px 0px 0px 0px;
    margin: 62px 0px 0px 60px;
  }
}

.form-header__nav a:hover {

  @media (min-width: @desktop-width) {
    color: #FFD74B;
  }
}


.form-header__nav a:active {

  @media (min-width: @desktop-width) {
    color: #FFD74B;
    opacity: 0.3;
  }
}

.form-header__desktop-line {

  @media (min-width: @desktop-width) {
    width: 60px;
    height: 2px;
    background-color: #FFFFFF;
    margin: 0px 0px 0px 0px;
  }
}

.form-header__nav-item-service {
  display: none;

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: inline-block;
    width: 100px;
    font-family: "Blogger Sans", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 42px;
  }
}

.form-header__nav-item-directions {
  display: none;

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: inline-block;
    font-family: "Blogger Sans", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 18px;
  }
}

.form-header__nav-item-travelers {
  display: none;

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: inline-block;
    font-family: "Blogger Sans", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 25px;
  }
}

.form-header__icon-call {
  margin: 15px 0px 0px 15px;
}

.form-header__icon-mail {
  margin: 15px 0px 0px 15px;
}
