.form-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-width: 320px;
  min-height: 240px;
  padding-top: 12px;
  background-color: #FFFFFF;
  color: #444444;
  border: solid 1px transparent;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-top: -178px;
}
@media (min-width: 768px) {
  .form-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 153px;
    margin-top: -60px;
    border-top-left-radius: 55px;
    border-top-right-radius: 55px;
    position: relative;
    z-index: 12;
  }
}
@media (min-width: 1440px) {
  .form-footer {
    margin-top: -100px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }
}
.form-footer__logo {
  width: 96px;
  height: 15px;
  margin: 0px 0px 0px 0px;
}
@media (min-width: 768px) {
  .form-footer__logo {
    display: inline-block;
    width: 164px;
    height: 42px;
    margin: 0px 0px 0px 0px;
  }
}
@media (min-width: 1440px) {
  .form-footer__logo {
    display: block;
    width: 200px;
    height: 52px;
    margin: 0px 0px 0px 0px;
  }
}
.form-footer__contacts {
  display: flex;
  justify-content: center;
  width: auto;
  height: auto;
}
@media (min-width: 768px) {
  .form-footer__contacts {
    grid-column-start: 1;
    grid-row-start: 1;
    width: auto;
    height: auto;
    margin-top: 43px;
    margin-bottom: 0px;
    margin-left: 36px;
    margin-right: 0px;
  }
}
@media (min-width: 1440px) {
  .form-footer__contacts {
    grid-column-start: 1;
    grid-row-start: 1;
    width: auto;
    height: auto;
    margin-top: 43px;
    margin-bottom: 0px;
    margin-left: 36px;
    margin-right: 0px;
  }
}
.form-footer__social {
  display: flex;
  justify-content: center;
  margin: -12px 0px 0px -4px;
}
@media (min-width: 768px) {
  .form-footer__social {
    grid-column-start: 2;
    grid-row-start: 1;
    height: auto;
    margin-top: 32px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media (min-width: 1440px) {
  .form-footer__social {
    margin-top: 33px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 4px;
  }
}
.form-footer__copyright {
  padding-left: 23px;
  margin: 0px 0px 6px 0px;
}
@media (min-width: 768px) {
  .form-footer__copyright {
    grid-column-start: 3;
    grid-row-start: 1;
    height: auto;
    margin-top: 51px;
    margin-bottom: 0px;
    margin-left: 36px;
    margin-right: 0px;
    padding: 0px;
  }
}
@media (min-width: 1440px) {
  .form-footer__copyright {
    margin-top: 50px;
    margin-bottom: 0px;
    margin-left: 240px;
    margin-right: 0px;
  }
}
.form-footer__link {
  display: inline-block;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #FFD74B;
}
@media (min-width: 768px) {
  .form-footer__link {
    width: 62px;
    height: 62px;
  }
}
.form-footer__link:first-child {
  background-image: url(../img/fb-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.form-footer__link:nth-child(2) {
  background-image: url(../img/vk-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.form-footer__link:last-child {
  background-image: url(../img/instagram-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.form-footer__copyright-link {
  display: inline-block;
  width: 28px;
  height: 34px;
  margin-left: 153px;
  background-image: url(../img/html-footer-icon.svg);
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .form-footer__copyright-link {
    width: 27px;
    height: 34px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 14px;
    margin-right: 0px;
  }
}
.form-footer__text {
  font-family: "Blogger Sans", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #444444;
}
@media (min-width: 768px) {
  .form-footer__text {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 25px;
    margin-right: 0px;
  }
}
