.guide {
  display: flex;
  flex-direction: column;
  min-height: 555px;
  background-color: #161C35;
  background-image: none;
  color: #FFFFFF;
  border: solid 1px transparent;
  margin-top: -93px;
}
@media (min-width: 768px) {
  .guide {
    background-image: url(../img/traveller-illustration-tablet@1x.png), url(../img/globe-back-tablet@1x.jpg);
    background-repeat: no-repeat, no-repeat;
    background-position: 283px -7px, -356px -29px;
    background-color: #182044;
    margin-top: -160px;
  }
}
@media (min-width: 768px) and (min-resolution: 2dppx) {
  .guide {
    background-image: url(../img/traveller-illustration-tablet@2x.png), url(../img/globe-back-tablet@2x.jpg);
    background-repeat: no-repeat, no-repeat;
    background-position: 283px -7px, -356px -29px;
    background-size: 372px 451px, 768px 612px;
  }
}
@media (min-width: 1440px) {
  .guide {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 648px;
    margin-top: -648px;
    background-image: none;
    background-color: transparent;
    position: relative;
    z-index: 10;
  }
}
.guide__list {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  width: 270px;
  margin: 0 auto;
  list-style: none;
  color: #161C35;
  border: solid 1px transparent;
}
@media (min-width: 768px) {
  .guide__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 689px;
    height: 280px;
    margin-top: 212px;
    margin-bottom: 0px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (min-width: 1440px) {
  .guide__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    width: 1330px;
    height: 107px;
    margin-top: 116px;
    margin-bottom: 0px;
    margin-right: auto;
    margin-left: auto;
  }
}
.guide__item {
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  padding-top: 20px;
  padding-left: 24px;
  padding-right: 20px;
  border: solid 1px transparent;
}
@media (min-width: 768px) {
  .guide__item {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: flex-start;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    border-radius: 0px;
  }
}
@media (min-width: 1440px) {
  .guide__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 375px;
    height: 107px;
    border-radius: 20px;
  }
}
.guide__item:nth-child(1) {
  height: 87px;
  background-color: #FF8D30;
}
@media (min-width: 768px) {
  .guide__item:nth-child(1) {
    grid-column-start: 1;
    grid-row-start: 1;
    width: 365px;
    height: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    border-top-left-radius: 20px;
  }
}
@media (min-width: 1440px) {
  .guide__item:nth-child(1) {
    grid-column-start: 1;
    grid-row-start: 1;
    width: 376px;
    height: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 5px;
    padding: 0px 0px 0px 0px;
  }
}
@media (min-width: 768px) {
}
@media (min-width: 1440px) {
  .guide__item:nth-child(1) .guide__number {
    margin-top: 26px;
    margin-bottom: 0px;
    margin-right: 95px;
    margin-left: 0px;
    padding: 0px 0px 0px 0px;
  }
}
.guide__item:nth-child(2) {
  height: 88px;
  margin-top: -30px;
  background-color: #FFA530;
}
@media (min-width: 768px) {
  .guide__item:nth-child(2) {
    grid-column-start: 2;
    grid-row-start: 1;
    width: 297px;
    height: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: -67px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
}
@media (min-width: 1440px) {
  .guide__item:nth-child(2) {
    grid-column-start: 2;
    grid-row-start: 1;
    width: 375px;
    height: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: -62px;
    padding: 0px 0px 0px 0px;
  }
}
@media (min-width: 768px) {
}
@media (min-width: 1440px) {
  .guide__item:nth-child(2) .guide__number {
    margin-top: 26px;
    margin-bottom: 0px;
    margin-right: 62px;
    margin-left: 0px;
    padding: 0px 0px 0px 0px;
  }
}
.guide__item:nth-child(3) {
  height: 88px;
  margin-top: -30px;
  background-color: #FFBD30;
}
@media (min-width: 768px) {
  .guide__item:nth-child(3) {
    grid-column-start: 1;
    grid-row-start: 2;
    width: 365px;
    height: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    border-bottom-left-radius: 20px;
  }
}
@media (min-width: 1440px) {
  .guide__item:nth-child(3) {
    grid-column-start: 3;
    grid-row-start: 1;
    width: 375px;
    height: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: -32px;
    padding: 0px 0px 0px 0px;
  }
}
@media (min-width: 768px) {
}
@media (min-width: 1440px) {
  .guide__item:nth-child(3) .guide__number {
    margin-top: 26px;
    margin-bottom: 0px;
    margin-right: 62px;
    margin-left: 0px;
    padding: 0px 0px 0px 0px;
  }
}
.guide__item:last-child {
  height: 59px;
  margin-top: -30px;
  background-color: #FFD74B;
}
@media (min-width: 768px) {
  .guide__item:last-child {
    grid-column-start: 2;
    grid-row-start: 2;
    width: 297px;
    height: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: -67px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}
@media (min-width: 1440px) {
  .guide__item:last-child {
    grid-column-start: 4;
    grid-row-start: 1;
    width: 313px;
    height: 105px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: -32px;
    padding: 0px 0px 0px 0px;
  }
}
@media (min-width: 768px) {
}
@media (min-width: 1440px) {
  .guide__item:last-child .guide__number {
    margin-top: 26px;
    margin-bottom: 0px;
    margin-right: 31px;
    margin-left: 0px;
    padding: 0px 0px 0px 0px;
  }
}
.guide__item:last-child > .guide__text,
.guide__item:last-child > .guide__number {
  display: block;
  height: 40px;
}
.guide__text {
  font-family: "Blogger Sans", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: #161C35;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
@media (min-width: 768px) {
  .guide__text {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    margin-top: 7px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 7px;
  }
}
@media (min-width: 1440px) {
  .guide__text {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    margin-top: 26px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 30px;
  }
}
.guide__number {
  font-family: "Blogger Sans", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: #FFFFFF;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
@media (min-width: 768px) {
  .guide__number {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
    margin-top: 11px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 8px;
  }
}
@media (min-width: 1440px) {
  .guide__number {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
  }
}
.guide__quote {
  font-family: "Blogger Sans", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  margin-left: 49px;
  margin-right: 100px;
  margin-top: 45px;
  line-height: 22px;
}
@media (min-width: 768px) {
  .guide__quote {
    display: inline-block;
    font-family: "Blogger Sans", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 33px;
    color: #FFFFFF;
    margin-top: 46px;
    margin-bottom: 0px;
    margin-left: 69px;
    margin-right: 400px;
  }
}
@media (min-width: 1440px) {
  .guide__quote {
    display: inline-block;
    width: 264px;
    height: 64px;
    align-self: flex-end;
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 32px;
    margin-top: 114px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 80px;
  }
}
.guide__slogan {
  display: block;
  height: auto;
  margin-top: 2px;
  margin-bottom: 29px;
  margin-left: 49px;
  margin-right: 90px;
  font-family: "Blogger Sans", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 22px;
}
@media (min-width: 768px) {
  .guide__slogan {
    display: inline-block;
    font-family: "Blogger Sans", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 25px;
    color: #FFFFFF;
    margin-top: 45px;
    margin-bottom: 0px;
    margin-left: 69px;
    margin-right: 461px;
  }
}
@media (min-width: 1440px) {
  .guide__slogan {
    display: inline-block;
    width: 246px;
    height: 74px;
    align-self: flex-end;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 24px;
    margin-top: 47px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 98px;
  }
}
