@tablet-width: 768px;
@desktop-width: 1440px;
@mobile-width-only: 320px;

.location {
  display: flex;
  flex-direction: column;
  min-height: 424px;
  margin-top: -30px;
  background-image: url(../img/background-map.png);
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: @tablet-width) {
    min-height: 581px;
    margin-top: 0px;
  }

  @media (min-width: @desktop-width) {
    width: 1440px;
    height: 584px;
    background-image: url(../img/bg-map-desktop.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-top: -60px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    position: relative;
    z-index: 3;
  }
}
