.my-profile {
  background-color: #E5E5E5;
  border: solid 1px black;
}
.my-profile__level {
  display: block;
  width: 100px;
  height: 100px;
  border: solid 2px #FF8D30;
  border-radius: 50px;
}
.my-profile__avatar {
  border-radius: 50px;
}
.my-profile__button {
  width: 270px;
  height: 40px;
  background-color: #DFE3F0;
  border: none;
  border-radius: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 18px;
  text-transform: uppercase;
  color: #161C35;
}
