@import "../utils/utils.less";

.page-footer {
  min-width: 100%;
  width: 100%;
  background-color: #FFFFFF;
}

.page-footer__container {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 318px;
  width: 318px;
  min-height: 240px;
  padding-top: 12px;
  background-color: #FFFFFF;
  color: #444444;
  border: solid 1px transparent;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-top: -131px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 140px;
    min-width: 766px;
    width: 766px;
    min-height: 140px;
    margin-top: -170px;
    margin-left: auto;
    margin-right: auto;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
  }

  @media (min-width: @desktop-width) {
    min-width: 1438px;
    width: 1438px;
    min-height: 154px;
    margin-top: -127px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 4;
  }
}

.page-footer__logo {
  width: 96px;
  height: 15px;
  margin: 24px 0px 0px 0px;

  @media (min-width: @tablet-width) {
    width: 164px;
    height: 42px;
    margin-top: -2px;
    margin-bottom: 0px;
    margin-left: -51px;
    margin-right: 0px;
  }

  @media (min-width: @desktop-width) {
    width: 200px;
    height: 55px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }
}

.page-footer__contacts {
  display: flex;
  justify-content: center;
  width: auto;
  height: auto;

  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-row-start: 1;
    width: auto;
    height: auto;
    margin-top: 43px;
    margin-bottom: 0px;
    margin-left: 33px;
    margin-right: 0px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 36px;
    margin-bottom: 0px;
    margin-left: -159px;
    margin-right: 0px;
  }
}

.page-footer__social {
  display: flex;
  justify-content: center;
  margin: 39px 0px 0px -3px;

  @media (min-width: @tablet-width) {
    grid-column-start: 2;
    grid-row-start: 1;
    width: 183px;
    height: auto;
    margin-top: 32px;
    margin-bottom: 0px;
    margin-left: 34px;
    margin-right: 0px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 33px;
    margin-bottom: 0px;
    margin-left: 148px;
    margin-right: 0px;
  }
}

.page-footer__social a:hover {
  background-color: #FFBD30;
}

.page-footer__social a:active {
  background-color: #FFBD30;
  fill-opacity: 0.3;
}

.page-footer__copyright {
  margin-top: 50px;
  padding-left: 23px;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    grid-column-start: 3;
    grid-row-start: 1;
    height: auto;
    margin-top: 51px;
    margin-bottom: 0px;
    margin-left: 36px;
    margin-right: 0px;
    padding: 0px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 50px;
    margin-bottom: 0px;
    margin-left: 240px;
    margin-right: 0px;
  }
}

.page-footer__copyright:hover {
  opacity: 0.6;
}

.page-footer__copyright:active {
  opacity: 0.3;
}


.page-footer__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #FFD74B;

  @media (min-width: @tablet-width) {
    width: 62px;
    height: 62px;
  }
}

.page-footer__link:first-child {

  @media (min-width: @desktop-width) {
    background-size: 30px 30px;
  }
}

.page-footer__link:nth-child(2) {

  @media (min-width: @desktop-width) {
    background-size: 30px 30px;
  }
}

.page-footer__link:last-child {

  @media (min-width: @desktop-width) {
    background-size: 30px 30px;
  }
}

.page-footer__icon-fb {
  margin: auto;

  @media (min-width: @tablet-width) {
    width: 14px;
    height: 28px;
  }
}

.page-footer__icon-vk {
  margin: auto;

  @media (min-width: @tablet-width) {
    width: 30px;
    height: 16px;
  }
}

.page-footer__icon-inst {
  margin: auto;

  @media (min-width: @tablet-width) {
    width: 23px;
    height: 23px;
  }
}

.page-footer__text {
  font-family: "Blogger Sans", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #444444;

  @media (min-width: @tablet-width) {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 25px;
    margin-right: 0px;
  }
}

.page-footer__copyright-link {
  display: inline-block;
  width: 28px;
  height: 34px;
  margin-left: 153px;
  background-image: url(../img/html-footer-icon.svg);
  background-repeat: no-repeat;

  @media (min-width: @tablet-width) {
    width: 27px;
    height: 34px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 14px;
    margin-right: 0px;
  }
}
