.persons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #E5E5E5;
  padding-top: 18px;
  padding-bottom: 66px;
}
@media (min-width: 768px) {
  .persons {
    padding-bottom: 120px;
  }
}
@media (min-width: 1440px) {
  .persons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: -1088px 0px 0px 0px;
    padding: 0px 0px 140px 60px;
    position: relative;
    z-index: 9;
  }
}
.persons__item {
  display: grid;
  grid-template-columns: 90px 90px 90px;
  grid-template-rows: 0.8fr 0.4fr 2fr 0.4fr;
  width: 270px;
  background-color: #FFFFFF;
  border-radius: 20px;
  border: solid 1px transparent;
  list-style: none;
  margin-top: 10px;
  padding-top: 15px;
  padding-bottom: 21px;
  cursor: pointer;
}
@media (min-width: 768px) {
  .persons__item {
    grid-template-columns: 229px 229px 229px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    width: auto;
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 27px;
  }
}
@media (min-width: 1440px) {
  .persons__item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    width: 948px;
    min-height: 283px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 29px 0px;
  }
}
.persons__item:hover {
  filter: drop-shadow(0px 4px 9px rgba(0, 0, 0, 0.16));
}
@media (min-width: 320px) {
  .persons__item-one {
    min-height: 377px;
    height: 377px;
  }
}
@media (min-width: 768px) {
  .persons__item-one {
    margin-top: 10px;
    margin-bottom: 30px;
    min-height: 330px;
    height: 330px;
  }
}
@media (min-width: 1440px) {
  .persons__item-one {
    width: 945px;
    min-height: 284px;
    height: 284px;
    margin: 0px 0px 0px 0px;
  }
}
@media (min-width: 320px) {
  .persons__item-two {
    min-height: 355px;
    height: 355px;
  }
}
@media (min-width: 768px) {
  .persons__item-two {
    min-height: 330px;
    height: 330px;
    margin: 10px 0px 0px 0px;
  }
}
@media (min-width: 1440px) {
  .persons__item-two {
    width: 945px;
    min-height: 284px;
    height: 284px;
    margin: 29px 0px 0px 0px;
  }
}
@media (min-width: 320px) {
  .persons .persons__item-three {
    min-height: 379px;
    height: 379px;
  }
}
@media (min-width: 768px) {
  .persons .persons__item-three {
    min-height: 330px;
    height: 330px;
    margin: 40px 0px 0px 0px;
  }
}
@media (min-width: 1440px) {
  .persons .persons__item-three {
    width: 945px;
    min-height: 283px;
    height: 283px;
    margin: 31px 0px 0px 0px;
  }
}
@media (min-width: 320px) {
  .persons__item-four {
    min-height: 358px;
    height: 358px;
  }
}
@media (min-width: 768px) {
  .persons__item-four {
    min-height: 330px;
    height: 330px;
    margin: 40px 0px 29px 0px;
  }
}
@media (min-width: 1440px) {
  .persons__item-four {
    width: 945px;
    min-height: 283px;
    height: 283px;
    margin: 31px 0px 0px 0px;
  }
}
.persons__avatar {
  grid-column-start: 1;
  grid-row-start: 1;
  margin-top: 0px;
  margin-left: 18px;
}
@media (min-width: 768px) {
  .persons__avatar {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 4;
    margin-top: 34px;
    margin-bottom: 0px;
    margin-left: 33px;
    margin-right: 0px;
    width: 190px;
    height: 190px;
    border-radius: 20px;
  }
}
@media (min-width: 1440px) {
  .persons__avatar {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 5;
    width: 285px;
    height: 285px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px -3px;
  }
}
.persons__icon {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}
@media (min-width: 768px) {
  .persons__icon {
    width: 190px;
    height: 190px;
    border-radius: 20px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
  }
}
@media (min-width: 1440px) {
  .persons__icon {
    width: 285px;
    height: 285px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
  }
}
.persons__name {
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  font-family: "Blogger Sans", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  line-height: 20px;
  color: #1D2E5B;
  margin-top: -3px;
  margin-bottom: 0px;
  margin-left: 14px;
}
@media (min-width: 768px) {
  .persons__name {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
    margin-top: 29px;
    margin-bottom: 0px;
    margin-left: 27px;
    margin-right: 0px;
  }
}
@media (min-width: 1440px) {
  .persons__name {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    padding: 0px 0px 0px 0px;
    margin: 43px 0px 0px 31px;
  }
}
.persons__dot {
  grid-column-start: 3;
  grid-row-start: 1;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #F97676;
  margin-top: 8px;
  margin-left: 61px;
}
@media (min-width: 768px) {
  .persons__dot {
    grid-column-start: 3;
    grid-row-start: 1;
    width: 8px;
    height: 8px;
    margin-top: 43px;
    margin-bottom: 0px;
    margin-left: 9px;
    margin-right: 0px;
  }
}
@media (min-width: 1440px) {
  .persons__dot {
    grid-column-start: 2;
    grid-row-start: 1;
    margin-top: 57px;
    margin-bottom: 0px;
    margin-left: 6px;
    margin-right: 0px;
  }
}
.persons__rating {
  grid-column-start: 2;
  grid-row-start: 1;
  margin-top: 38px;
  margin-left: -22px;
  display: flex;
  align-items: center;
  padding-left: 36px;
  width: 71px;
  height: 32px;
  background-image: url(../img/heart-rating-icon-grey.svg);
  background-repeat: no-repeat;
  background-position: left;
  font-family: "Blogger Sans", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .persons__rating {
    grid-column-start: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    width: 50px;
    height: 51px;
    background-image: url(../img/heart-rating-icon-grey.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 50px 50px;
    font-size: 20px;
    line-height: 20px;
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: -56px;
    margin-right: 0px;
    padding: 0px 0px 0px 57px;
  }
}
@media (min-width: 1440px) {
  .persons__rating {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 5;
    padding: 0px 0px 0px 58px;
    margin: 42px 0px 0px 171px;
  }
}
.persons__hobby {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  display: inline-block;
  width: 177px;
  font-family: "Blogger Sans", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  color: #444444;
  margin-top: -1px;
  margin-bottom: 0px;
  margin-left: 25px;
  margin-right: 20px;
}
@media (min-width: 768px) {
  .persons__hobby {
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    display: inline-block;
    width: 227px;
    font-size: 20px;
    line-height: 23px;
    margin-top: -4px;
    margin-bottom: 0px;
    margin-left: 30px;
    margin-right: 0px;
  }
}
@media (min-width: 1440px) {
  .persons__hobby {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    padding: 0px 0px 0px 0px;
    margin: 23px 0px 0px 31px;
  }
}
.persons__about-list {
  grid-column-start: 1;
  grid-row-start: 3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.5fr 1fr;
  margin-top: 4px;
  margin-left: 25px;
}
@media (min-width: 768px) {
  .persons__about-list {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 5;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 2fr 2fr 0.4fr;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media (min-width: 1440px) {
  .persons__about-list {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 5;
    display: grid;
    grid-template-columns: 675px 274px;
    grid-template-rows: 142px 143px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }
}
.persons__about-item:nth-child(1) {
  grid-column-start: 1;
  grid-row-start: 1;
  border: solid 1px transparent;
  margin-top: 3px;
  margin-bottom: 0px;
}
@media (min-width: 768px) {
  .persons__about-item:nth-child(1) {
    grid-column-start: 1;
    grid-row-start: 3;
    margin-top: -60px;
    margin-bottom: 0px;
    margin-left: 35px;
    margin-right: 0px;
    order: 3;
  }
}
@media (min-width: 1440px) {
  .persons__about-item:nth-child(1) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-top: 43px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px 0px 0px 0px;
  }
}
.persons__about-item:nth-child(2) {
  grid-column-start: 1;
  grid-row-start: 2;
  grid-row-end: auto;
  border: solid 1px transparent;
  margin-top: 4px;
}
@media (min-width: 768px) {
  .persons__about-item:nth-child(2) {
    grid-column-start: 2;
    grid-row-start: 1;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media (min-width: 1440px) {
  .persons__about-item:nth-child(2) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-top: 55px;
    margin-bottom: 0px;
    margin-left: -9px;
    margin-right: 0px;
    padding: 0px 0px 0px 0px;
  }
}
.persons__about-item:nth-child(3) {
  grid-column-start: 2;
  grid-row-start: 2;
  grid-row-end: 4;
  border: solid 1px transparent;
  margin: 4px 0px 0px 17px;
}
@media (min-width: 768px) {
  .persons__about-item:nth-child(3) {
    grid-column-start: 2;
    grid-row-start: 2;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 43px;
    margin-right: 0px;
  }
}
@media (min-width: 1440px) {
  .persons__about-item:nth-child(3) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-top: 27px;
    margin-bottom: 0px;
    margin-left: 163px;
    margin-right: 0px;
    padding: 0px 0px 0px 0px;
  }
}
.persons__button {
  grid-column-start: 1;
  grid-row-start: 4;
  margin-top: 13px;
  margin-left: 20px;
  width: 230px;
  height: 38px;
  background-color: #FFD74B;
  border-radius: 25px;
  border: solid 1px transparent;
}
@media (min-width: 768px) {
  .persons__button {
    grid-column-start: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    width: 150px;
    height: 50px;
    margin-top: 8px;
    margin-bottom: 0px;
    margin-left: 23px;
    margin-right: 0px;
  }
}
@media (min-width: 1440px) {
  .persons__button {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
    padding: 1px 0px 0px 2px;
    margin: 44px 0px 0px 21px;
  }
}
.persons__btn-text {
  font-family: "Blogger Sans", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
  color: #161C35;
}
@media (min-width: 768px) {
  .persons__btn-text {
    font-size: 20px;
    line-height: 20px;
  }
}
.persons__button-two {
  width: 230px;
  height: 40px;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 19px;
}
@media (min-width: 768px) {
  .persons__button-two {
    width: 150px;
    height: 50px;
    padding: 0px 0px 0px 0px;
    margin: 8px 0px 0px 23px;
  }
}
@media (min-width: 1440px) {
  .persons__button-two {
    width: 150px;
    height: 50px;
    padding: 1px 0px 0px 1px;
    margin: 45px 0px 0px 21px;
  }
}
.persons__button-three {
  padding: 0px 0px 0px 0px;
  margin: 12px 0px 0px 19px;
}
@media (min-width: 768px) {
  .persons__button-three {
    width: 150px;
    height: 50px;
    padding: 0px 0px 0px 0px;
    margin: 8px 0px 0px 23px;
  }
}
@media (min-width: 1440px) {
  .persons__button-three {
    width: 150px;
    height: 50px;
    padding: 2px 0px 0px 2px;
    margin: 44px 0px 0px 21px;
  }
}
.persons__button-four {
  padding: 0px 0px 0px 0px;
  margin: -2px 0px 0px 19px;
}
@media (min-width: 768px) {
  .persons__button-four {
    padding: 0px 0px 0px 0px;
    margin: 8px 0px 0px 25px;
  }
}
@media (min-width: 1440px) {
  .persons__button-four {
    padding: 2px 0px 0px 1px;
    margin: 44px 0px 0px 21px;
  }
}
.persons__wishes {
  font-family: "Blogger Sans", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  color: #444444;
  margin-top: 0px;
}
@media (min-width: 768px) {
  .persons__wishes {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 47px;
  }
}
@media (min-width: 1440px) {
  .persons__wishes {
    display: none;
  }
}
.persons__wish-wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
  width: 150px;
  align-items: center;
  font-family: "Blogger Sans", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 1px;
  text-transform: uppercase;
  color: #1D2E5B;
  margin-top: 13px;
}
@media (min-width: 768px) {
  .persons__wish-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    min-width: 465px;
    font-size: 20px;
    line-height: 20px;
    margin-top: 22px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
  }
}
@media (min-width: 1440px) {
  .persons__wish-wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    min-width: 200px;
    width: 200px;
    min-height: 108px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
  }
}
.persons__wish-flag {
  margin: 8px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
@media (min-width: 768px) {
  .persons__wish-flag {
    width: 35px;
    height: 24px;
    margin-top: -2px;
    margin-bottom: 0px;
    margin-left: -1px;
    margin-right: 9px;
    padding: 0px;
  }
}
@media (min-width: 1440px) {
  .persons__wish-flag {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: -4px;
    margin-right: 0px;
    padding: 0px;
  }
}
.persons__wish-text {
  margin: 12px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
@media (min-width: 768px) {
  .persons__wish-text {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 28px;
    padding: 0px;
  }
}
@media (min-width: 1440px) {
  .persons__wish-text {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
  }
}
.persons__level {
  display: block;
  font-family: "Blogger Sans", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  color: #444444;
  margin-top: 2px;
  margin-left: 11px;
}
@media (min-width: 768px) {
  .persons__level {
    display: none;
  }
}
.persons__level-number-firsova {
  display: block;
  width: 45px;
  height: 45px;
  margin-top: 11px;
  margin-left: 6px;
  background-image: url("../img/person-level-firsova.svg");
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-width: 768px) {
  .persons__level-number-firsova {
    width: 63px;
    height: 63px;
    background-image: url("../img/person-level-firsova-tablet.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}
.persons__level-number-demin {
  display: block;
  width: 45px;
  height: 45px;
  margin-top: 11px;
  margin-left: 6px;
  background-image: url("../img/person-level-demin.svg");
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-width: 768px) {
  .persons__level-number-demin {
    width: 63px;
    height: 63px;
    background-image: url("../img/person-level-demin-tablet.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}
.persons__level-number-smolov {
  display: block;
  width: 45px;
  height: 45px;
  margin-top: 11px;
  margin-left: 6px;
  background-image: url("../img/person-level-smolov.svg");
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-width: 768px) {
  .persons__level-number-smolov {
    width: 63px;
    height: 63px;
    background-image: url("../img/person-level-smolov-tablet.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}
.persons__level-number-rogovya {
  display: block;
  width: 45px;
  height: 45px;
  margin-top: 11px;
  margin-left: 6px;
  background-image: url("../img/person-level-rogovya.svg");
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-width: 768px) {
  .persons__level-number-rogovya {
    width: 63px;
    height: 63px;
    background-image: url("../img/person-level-rogovya-tablet.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}
.persons__transport {
  display: block;
  font-family: "Blogger Sans", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 16px;
  color: #444444;
}
@media (min-width: 768px) {
  .persons__transport {
    display: none;
  }
}
.persons__transport-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 130px;
  margin-top: 20px;
  margin-left: -3px;
}
@media (min-width: 768px) {
  .persons__transport-wrapper {
    display: flex;
    flex-direction: column;
    width: 30px;
    height: 128px;
    margin-top: 29px;
    margin-bottom: 0px;
    margin-left: 65px;
    margin-right: 0px;
  }
}
@media (min-width: 1440px) {
  .persons__transport-wrapper {
    display: flex;
    flex-direction: row;
    width: 131px;
    height: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }
}
.persons__transport-icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #EDEFF6;
}
@media (min-width: 768px) {
  .persons__transport-icon {
    background-color: transparent;
  }
}
@media (min-width: 1440px) {
  .persons__transport-icon {
    background-color: transparent;
  }
}
.persons__transport-icon-plane {
  background-image: url(../img/transport-plane.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 17px 17px;
  border: none;
}
@media (min-width: 768px) {
  .persons__transport-icon-plane {
    background-size: 23px 23px;
  }
}
@media (min-width: 1440px) {
  .persons__transport-icon-plane {
    background-size: 23px 23px;
  }
}
.persons__transport-icon-bus {
  background-image: url(../img/transport-bus.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}
@media (min-width: 768px) {
  .persons__transport-icon-bus {
    background-size: 20px 23px;
  }
}
@media (min-width: 1440px) {
  .persons__transport-icon-bus {
    background-size: 20px 23px;
  }
}
.persons__transport-icon-bike {
  background-image: url(../img/transport-bike.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}
@media (min-width: 768px) {
  .persons__transport-icon-bike {
    background-size: 23px 23px;
  }
}
@media (min-width: 1440px) {
  .persons__transport-icon-bike {
    background-size: 23px 23px;
  }
}
.persons__transport-icon-run {
  background-image: url(../img/transport-run.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}
@media (min-width: 768px) {
  .persons__transport-icon-run {
    background-size: 23px 23px;
  }
}
@media (min-width: 1440px) {
  .persons__transport-icon-run {
    background-size: 23px 23px;
  }
}
.persons__controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px transparent;
  margin-top: 12px;
  margin-left: 5px;
}
@media (min-width: 1440px) {
  .persons__controls {
    margin: 19px 0px 0px 3px;
  }
}
.persons__btn-more {
  min-width: 160px;
  width: auto;
  height: 30px;
  background-color: transparent;
  border: solid 1px transparent;
  font-family: "Blogger Sans", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  color: #1D2E5B;
  text-align: right;
  background-image: url(../img/persons-btn-more.svg);
  background-repeat: no-repeat;
  background-position: 1% 82%;
  margin: 0px 0px 0px 0px;
  padding: 3px 9px 0px 0px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .persons__btn-more {
    min-width: 213px;
    height: 50px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    margin-top: -10px;
    margin-bottom: 0px;
    margin-left: -22px;
    margin-right: 0px;
    background-image: url(../img/persons-btn-more-tablet.svg);
    background-repeat: no-repeat;
    background-position: 9% 58%;
  }
}
@media (min-width: 1440px) {
  .persons__btn-more {
    min-width: 213px;
    height: 50px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    margin-top: 27px;
    margin-bottom: 0px;
    margin-left: -88px;
    margin-right: 0px;
    background-image: url(../img/persons-btn-more-tablet.svg);
    background-repeat: no-repeat;
    background-position: 10% 63%;
  }
}
.persons__controls-wrap {
  display: flex;
  justify-content: space-between;
  width: 271px;
  margin-top: 22px;
  margin-left: -10px;
}
@media (min-width: 768px) {
  .persons__controls-wrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-width: 688px;
    height: 100px;
    margin: 41px 9px 0px 5px;
    padding: 0px 0px 0px 28px;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-sizing: border-box;
  }
}
@media (min-width: 1440px) {
  .persons__controls-wrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-width: 947px;
    height: 100px;
    margin: 62px 0px 0px -5px;
    padding: 0px 0px 0px 28px;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-sizing: border-box;
  }
}
.persons__breadcrumbs-btn {
  display: none;
}
@media (min-width: 768px) {
  .persons__breadcrumbs-btn {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: transparent;
    border: none;
    font-family: "Blogger Sans", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    color: #1D2E5B;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }
}
.persons__breadcrumbs-btn-active {
  display: none;
}
@media (min-width: 768px) {
  .persons__breadcrumbs-btn-active {
    display: inline-block;
    background-color: #FFD74B;
  }
}
.persons__btn-prev {
  width: 135px;
  height: 51px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: solid 1px transparent;
  background-image: url("../img/icon-arrows-prev.svg");
  background-repeat: no-repeat;
  background-position: 53% 59%;
}
@media (min-width: 768px) {
  .persons__btn-prev {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    line-height: 20px;
    margin-top: -6px;
    margin-bottom: 0px;
    margin-left: 351px;
    margin-right: 0px;
  }
}
@media (min-width: 1440px) {
  .persons__btn-prev {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    line-height: 20px;
    margin-top: -3px;
    margin-bottom: 0px;
    margin-left: 602px;
    margin-right: 0px;
  }
}
.persons__btn-next {
  width: 135px;
  height: 51px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: solid 1px transparent;
  background-image: url("../img/icon-arrows-next.svg");
  background-repeat: no-repeat;
  background-position: 51% 52%;
}
@media (min-width: 768px) {
  .persons__btn-next {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    line-height: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: -6px;
    margin-right: 0px;
  }
}
.persons__name-demin {
  padding: 0px 0px 0px 0px;
  margin: -2px 0px 0px 14px;
}
@media (min-width: 768px) {
  .persons__name-demin {
    padding: 0px 0px 0px 0px;
    margin: 30px 0px 0px 28px;
  }
}
@media (min-width: 1440px) {
  .persons__name-demin {
    padding: 0px 0px 0px 0px;
    margin: 44px 0px 0px 29px;
  }
}
.persons__dot-demin {
  padding: 0px 0px 0px 0px;
  margin: 7px 0px 0px 62px;
}
@media (min-width: 768px) {
  .persons__dot-demin {
    width: 8px;
    height: 8px;
    padding: 0px 0px 0px 0px;
    margin: 44px 0px 0px 9px;
  }
}
@media (min-width: 1440px) {
  .persons__dot-demin {
    padding: 0px 0px 0px 0px;
    margin: 57px 0px 0px 3px;
  }
}
.persons__rating-demin {
  padding: 0px 0px 0px 38px;
  margin: 40px 0px 0px -24px;
}
@media (min-width: 768px) {
  .persons__rating-demin {
    padding: 0px 0px 0px 56px;
    margin: 7px 0px 0px -55px;
  }
}
@media (min-width: 1440px) {
  .persons__rating-demin {
    padding: 0px 0px 0px 56px;
    margin: 44px 0px 0px 172px;
  }
}
.persons__hobby-demin {
  padding: 0px 0px 0px 0px;
  margin: 6px 0px 0px 25px;
}
@media (min-width: 768px) {
  .persons__hobby-demin {
    padding: 0px 0px 0px 0px;
    margin: -6px 0px 0px 30px;
  }
}
@media (min-width: 1440px) {
  .persons__hobby-demin {
    padding: 0px 0px 0px 0px;
    margin: 24px 0px 0px 29px;
  }
}
.persons__about-list-demin {
  padding: 0px 0px 0px 0px;
  margin: 7px 0px 0px 24px;
}
@media (min-width: 768px) {
  .persons__about-list-demin {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
  }
}
@media (min-width: 1440px) {
  .persons__about-list-demin {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
  }
}
.persons__about-list > .persons__demin-transport {
  padding: 0px 0px 0px 0px;
  margin: -11px 0px 0px 2px;
}
@media (min-width: 768px) {
  .persons__about-list > .persons__demin-transport {
    padding: 0px 0px 0px 0px;
    margin: 2px 0px 0px 0px;
  }
}
@media (min-width: 1440px) {
  .persons__about-list > .persons__demin-transport {
    padding: 0px 0px 0px 0px;
    margin: 55px 0px 0px -11px;
  }
}
.persons__about-list > .persons__demin-level {
  padding: 0px 0px 0px 0px;
  margin: -13px 0px 0px 20px;
}
@media (min-width: 768px) {
  .persons__about-list > .persons__demin-level {
    padding: 0px 0px 0px 0px;
    margin: -8px 0px 0px 43px;
  }
}
@media (min-width: 1440px) {
  .persons__about-list > .persons__demin-level {
    padding: 0px 0px 0px 0px;
    margin: 27px 0px 0px 159px;
  }
}
.persons__wish-wrapper-demin {
  padding: 0px 0px 0px 0px;
  margin: 3px 0px 0px 0px;
}
@media (min-width: 768px) {
  .persons__wish-wrapper-demin {
    width: 256px;
    min-width: auto;
    justify-content: space-between;
    padding: 0px 0px 0px 0px;
    margin: 20px 0px 0px -2px;
  }
}
@media (min-width: 1440px) {
  .persons__wish-wrapper-demin {
    width: 214px;
    min-width: auto;
    height: 72px;
    min-height: auto;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px -5px;
  }
}
.persons__wish-flag-demin {
  padding: 0px 0px 0px 0px;
  margin: 14px 0px -4px 0px;
}
@media (min-width: 768px) {
  .persons__wish-flag-demin {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
  }
}
@media (min-width: 1440px) {
  .persons__wish-flag-demin {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
  }
}
.persons__wish-text-demin {
  padding: 0px 0px 0px 0px;
  margin: 15px 0px -6px 2px;
}
@media (min-width: 768px) {
  .persons__wish-text-demin {
    padding: 0px 0px 0px 0px;
    margin: 2px 0px 0px -21px;
  }
}
@media (min-width: 1440px) {
  .persons__wish-text-demin {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
  }
}
.persons__name-rog {
  padding: 0px 0px 0px 0px;
  margin: -2px 0px 0px 14px;
}
@media (min-width: 768px) {
  .persons__name-rog {
    padding: 0px 0px 0px 0px;
    margin: 30px 0px 0px 28px;
  }
}
@media (min-width: 1440px) {
  .persons__name-rog {
    padding: 0px 0px 0px 0px;
    margin: 43px 0px 0px 29px;
  }
}
.persons__dot-rog {
  background-color: #BBF085;
  padding: 0px 0px 0px 0px;
  margin: 7px 0px 0px 62px;
}
@media (min-width: 768px) {
  .persons__dot-rog {
    padding: 0px 0px 0px 0px;
    margin: 39px 0px 0px 42px;
  }
}
@media (min-width: 1440px) {
  .persons__dot-rog {
    padding: 0px 0px 0px 0px;
    margin: 56px 0px 0px 4px;
  }
}
.persons__rating-rog {
  padding: 0px 0px 0px 38px;
  margin: 40px 0px 0px -24px;
}
@media (min-width: 768px) {
  .persons__rating-rog {
    padding: 0px 0px 0px 57px;
    margin: 7px 0px 0px -56px;
  }
}
@media (min-width: 1440px) {
  .persons__rating-rog {
    padding: 0px 0px 0px 57px;
    margin: 43px 0px 0px 171px;
  }
}
.persons__hobby-rog {
  padding: 0px 0px 0px 0px;
  margin: 6px 0px 0px 25px;
}
@media (min-width: 768px) {
  .persons__hobby-rog {
    padding: 0px 0px 0px 0px;
    margin: -3px 0px 0px 30px;
  }
}
@media (min-width: 1440px) {
  .persons__hobby-rog {
    padding: 0px 0px 0px 0px;
    margin: 23px 0px 0px 30px;
  }
}
.persons__about-list-rog {
  padding: 0px 0px 0px 0px;
  margin: 7px 0px 0px 24px;
}
@media (min-width: 768px) {
  .persons__about-list-rog {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
  }
}
@media (min-width: 1440px) {
  .persons__about-list-rog {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
  }
}
.persons__about-list > .persons__rog-transport {
  padding: 0px 0px 0px 0px;
  margin: -11px 0px 0px 2px;
}
@media (min-width: 768px) {
  .persons__about-list > .persons__rog-transport {
    padding: 0px 0px 0px 0px;
    margin: 30px 0px 0px 64px;
  }
}
@media (min-width: 1440px) {
  .persons__about-list > .persons__rog-transport {
    padding: 0px 0px 0px 0px;
    margin: 54px 0px 0px -11px;
  }
}
.persons__about-list > .persons__rog-level {
  padding: 0px 0px 0px 0px;
  margin: -13px 0px 0px 11px;
}
@media (min-width: 768px) {
  .persons__about-list > .persons__rog-level {
    padding: 0px 0px 0px 0px;
    margin: -7px 0px 0px 44px;
  }
}
@media (min-width: 1440px) {
  .persons__about-list > .persons__rog-level {
    padding: 0px 0px 0px 0px;
    margin: 26px 0px 0px 160px;
  }
}
.persons__wish-wrapper-rog {
  width: 159px;
  padding: 0px 0px 0px 0px;
  margin: 6px 0px 0px 0px;
}
@media (min-width: 768px) {
  .persons__wish-wrapper-rog {
    width: 368px;
    min-width: auto;
    justify-content: space-between;
    padding: 0px 0px 0px 0px;
    margin: 18px 0px 0px 0px;
  }
}
@media (min-width: 1440px) {
  .persons__wish-wrapper-rog {
    width: 214px;
    min-width: auto;
    height: 76px;
    min-height: auto;
    padding: 0px 0px 0px 0px;
    margin: -4px 0px 0px -5px;
  }
}
.persons__wish-flag-rog {
  padding: 0px 0px 0px 0px;
  margin: 12px 0px -4px 0px;
}
@media (min-width: 768px) {
  .persons__wish-flag-rog {
    width: 35px;
    height: 24px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
  }
}
@media (min-width: 1440px) {
  .persons__wish-flag-rog {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
  }
}
.persons__wish-text-rog {
  padding: 0px 0px 0px 0px;
  margin: 10px 0px -6px 2px;
}
@media (min-width: 768px) {
  .persons__wish-text-rog {
    padding: 0px 0px 0px 0px;
    margin: 3px 0px 0px -22px;
  }
}
@media (min-width: 1440px) {
  .persons__wish-text-rog {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
  }
}
.persons__transport-wrapper-rog {
  padding: 0px 0px 0px 0px;
  margin: 15px 0px 0px -6px;
}
@media (min-width: 768px) {
  .persons__transport-wrapper-rog {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
  }
}
@media (min-width: 1440px) {
  .persons__transport-wrapper-rog {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
  }
}
.persons__wish-wrapper-smolov {
  width: 159px;
  padding: 0px 0px 0px 0px;
  margin: 8px 0px 0px 0px;
}
@media (min-width: 768px) {
  .persons__wish-wrapper-smolov {
    width: 428px;
    min-width: auto;
    justify-content: space-between;
    padding: 0px 0px 0px 0px;
    margin: 18px 0px 0px -2px;
  }
}
@media (min-width: 1440px) {
  .persons__wish-wrapper-smolov {
    width: 216px;
    min-width: auto;
    padding: 0px 0px 0px 0px;
    margin: -1px 0px 0px -5px;
  }
}
.persons__wish-flag-smolov {
  padding: 0px 0px 0px 0px;
  margin: 10px 0px 0px 0px;
}
@media (min-width: 768px) {
  .persons__wish-flag-smolov {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
  }
}
@media (min-width: 1440px) {
  .persons__wish-flag-smolov {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
  }
}
.persons__wish-text-smolov {
  padding: 0px 0px 0px 0px;
  margin: 10px 0px 0px 0px;
}
@media (min-width: 768px) {
  .persons__wish-text-smolov {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px -17px;
  }
}
@media (min-width: 1440px) {
  .persons__wish-text-smolov {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
  }
}
.persons__about-list > .persons__smolov-transport {
  padding: 0px 0px 0px 0px;
  margin: 6px 0px 0px 0px;
}
@media (min-width: 768px) {
  .persons__about-list > .persons__smolov-transport {
    padding: 0px 0px 0px 0px;
    margin: 31px 0px 0px 64px;
  }
}
@media (min-width: 1440px) {
  .persons__about-list > .persons__smolov-transport {
    padding: 0px 0px 0px 0px;
    margin: 54px 0px 0px -11px;
  }
}
.persons__about-list > .persons__smolov-level {
  padding: 0px 0px 0px 0px;
  margin: 4px 0px 0px 10px;
}
@media (min-width: 768px) {
  .persons__about-list > .persons__smolov-level {
    padding: 0px 0px 0px 0px;
    margin: -9px 0px 0px 44px;
  }
}
@media (min-width: 1440px) {
  .persons__about-list > .persons__smolov-level {
    padding: 0px 0px 0px 0px;
    margin: 24px 0px 0px 160px;
  }
}
.persons__transport-wrapper-smolov {
  padding: 0px 0px 0px 0px;
  margin: 16px 0px 0px -5px;
}
@media (min-width: 768px) {
  .persons__transport-wrapper-smolov {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
  }
}
@media (min-width: 1440px) {
  .persons__transport-wrapper-smolov {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
  }
}
.persons__name-firsova {
  padding: 0px 0px 0px 0px;
  margin: -3px 0px 0px 13px;
}
@media (min-width: 768px) {
  .persons__name-firsova {
    padding: 0px 0px 0px 0px;
    margin: 30px 0px 0px 27px;
  }
}
@media (min-width: 1440px) {
  .persons__name-firsova {
    padding: 0px 0px 0px 0px;
    margin: 43px 0px 0px 29px;
  }
}
.persons__dot-firsova {
  padding: 0px 0px 0px 0px;
  margin: 7px 0px 0px 61px;
}
@media (min-width: 768px) {
  .persons__dot-firsova {
    width: 8px;
    height: 8px;
    padding: 0px 0px 0px 0px;
    margin: 43px 0px 0px 8px;
  }
}
@media (min-width: 1440px) {
  .persons__dot-firsova {
    padding: 0px 0px 0px 0px;
    margin: 56px 0px 0px 3px;
  }
}
.persons__rating-firsova {
  background-image: url(../img/heart-rating-icon.svg);
  padding: 0px 0px 0px 36px;
  margin: 37px 0px 0px -23px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .persons__rating-firsova {
    width: 120px;
    height: auto;
    padding: 0px 0px 0px 56px;
    margin: -18px 0px 0px -54px;
    background-size: 50px 50px;
    box-sizing: border-box;
  }
}
@media (min-width: 1440px) {
  .persons__rating-firsova {
    padding: 0px 0px 2px 58px;
    margin: -4px 0px 0px 171px;
  }
}
.persons__hobby-firsova {
  padding: 0px 0px 0px 0px;
  margin: -1px 0px 0px 25px;
}
@media (min-width: 768px) {
  .persons__hobby-firsova {
    padding: 0px 0px 0px 0px;
    margin: -3px 0px 0px 30px;
  }
}
@media (min-width: 1440px) {
  .persons__hobby-firsova {
    padding: 0px 0px 0px 0px;
    margin: 23px 0px 0px 29px;
  }
}
.persons__about-list-firsova {
  padding: 0px 0px 0px 0px;
  margin: 2px 0px 0px 0px;
}
@media (min-width: 768px) {
  .persons__about-list-firsova {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
  }
}
@media (min-width: 1440px) {
  .persons__about-list-firsova {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
  }
}
.persons__wish-wrapper-firsova {
  padding: 0px 0px 0px 0px;
  margin: 11px 0px 0px 23px;
}
@media (min-width: 768px) {
  .persons__wish-wrapper-firsova {
    width: 465px;
    padding: 0px 0px 0px 0px;
    margin: 19px 0px 0px 0px;
    justify-content: space-between;
  }
}
@media (min-width: 1440px) {
  .persons__wish-wrapper-firsova {
    width: 217px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px -5px;
  }
}
.persons__wish-flag-firsova {
  padding: 0px 0px 0px 0px;
  margin: 9px 0px 0px 0px;
}
@media (min-width: 768px) {
  .persons__wish-flag-firsova {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
  }
}
@media (min-width: 1440px) {
  .persons__wish-flag-firsova {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
  }
}
.persons__wish-text-firsova {
  padding: 0px 0px 0px 0px;
  margin: 13px 0px 0px 2px;
}
@media (min-width: 768px) {
  .persons__wish-text-firsova {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px -18px;
  }
}
@media (min-width: 1440px) {
  .persons__wish-text-firsova {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
  }
}
.persons__transport-wrapper-firsova {
  padding: 0px 0px 0px 0px;
  margin: 18px 0px 0px -5px;
}
@media (min-width: 768px) {
  .persons__transport-wrapper-firsova {
    width: 30px;
    height: 127px;
    padding: 0px 0px 0px 0px;
    margin: -1px 0px 0px -1px;
  }
}
@media (min-width: 1440px) {
  .persons__transport-wrapper-firsova {
    width: 133px;
    height: 30px;
    padding: 0px 0px 0px 0px;
    margin: 54px 0px 0px -11px;
  }
}
.persons__about-list > .persons__firsova-transport {
  padding: 0px 0px 0px 0px;
  margin: 5px 0px 0px 25px;
}
@media (min-width: 768px) {
  .persons__about-list > .persons__firsova-transport {
    padding: 0px 0px 0px 0px;
    margin: 32px 0px 0px 65px;
  }
}
@media (min-width: 1440px) {
  .persons__about-list > .persons__firsova-transport {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
  }
}
.persons__about-list > .persons__firsova-level {
  padding: 0px 0px 0px 0px;
  margin: 4px 0px 0px 20px;
}
@media (min-width: 768px) {
  .persons__about-list > .persons__firsova-level {
    padding: 0px 0px 0px 0px;
    margin: -6px 0px 0px 43px;
  }
}
@media (min-width: 1440px) {
  .persons__about-list > .persons__firsova-level {
    padding: 0px 0px 0px 0px;
    margin: 26px 0px 0px 159px;
  }
}
.persons__wishes-firsova {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 24px;
}
@media (min-width: 768px) {
  .persons__wishes-firsova {
    display: inline-block;
    width: 96px;
    height: 16px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 48px;
  }
}
@media (min-width: 1440px) {
  .persons__wishes-firsova {
    display: none;
  }
}
